* {
	margin: 0;
	padding: 0;
/*	border: 0;
	outline: 0;
	background: transparent; */
	font-family: verdana;
	font-size: 100%;
	vertical-align: baseline;

}
h1 {
	padding: 10px;
	font-size: 150%;
	text-align: center;
}
h2 {
	padding: 10px;
	font-size: 125%;
	text-align: center;
}
p {
	margin-left: 50px;
	margin-right: 50px;
	text-align: center;
	padding: 10px;
}

.dropdown ul{
	display: none;
}
.dropdown:hover ul{
	display: block;
	position: absolute;
	text-align: left;
	padding-top: 10px;
	background-color: #1995ad;

}
.dropdown li{
	padding-bottom: 10px;
}

.SecondDropDown li{
	display:none;
}
.SecondDropDown:hover li{
	display:block;
	position:relative;
	padding-top: 10px;
	background-color: #4cb5f5;

}

nav {
	/*other colour was too dark*/
	background-color: lightskyblue;
	font-size: 20px;
	text-align: center;
	padding: 10px;
}



nav li {
	display: inline-block;
}
a {
	padding-left: 10px;
}
a:link {
	text-decoration: none;
}
a:visited {
	color: blue;
}
nav a {
	padding-left: 10px;
	padding-right: 10px;
}
nav a:link {
	text-decoration: none;
	color: black;
}
nav a:visited {
	color: black;
}
nav a:hover{
	color: #Fa6159;
}
form {
	font-size: 20px;
	padding: 10px;
}
input {
	font-size: 20px;
	padding: 5px;
}
