* {
	margin: 0;
	padding: 0;
/*	border: 0;
	outline: 0;
	background: transparent; */
	font-family: verdana;
	font-size: 100%;
	vertical-align: baseline;

}
html, body {
	height: 100%;
}
body {
	margin-bottom: -30px;
}

h1 {
	padding: 10px;
	font-size: 150%;
	text-align: center;
}
h2 {
	padding: 10px;
	font-size: 125%;
	text-align: center;
}
p {
	margin-left: 50px;
	margin-right: 50px;
	font-size: 100%;
	text-align: center;
	padding: 10px;
}

.dropdown ul{
	display: none;
}
.dropdown:hover ul{
	display: block;
	position: absolute;
	text-align: left;
	padding-top: 10px;
	background-color: #1995ad;

}
.dropdown li{
	padding-bottom: 10px;
}

.SecondDropDown li{
	display:none;
}
.SecondDropDown:hover li{
	display:block;
	position:relative;
	padding-top: 10px;
	background-color: #4cb5f5;

}

nav {
	/*other colour was too dark*/
	background-color: lightskyblue;
	font-size: 20px;
	text-align: center;
	padding: 10px;
}



nav li {
	display: inline-block;
}
a {
	padding-left: 10px;
}
a:link {
	text-decoration: none;
}
a:visited {
	color: blue;
}
nav a {
	padding-left: 10px;
	padding-right: 10px;
}
nav a:link {
	text-decoration: none;
	color: black;
}
nav a:visited {
	color: black;
}
nav a:hover{
	color: #Fa6159;
}
form {
	font-size: 20px;
	padding: 10px;
}
input {
	font-size: 20px;
	padding: 5px;
}

/* Right now it will be very close to the top of most pages, but it will stick to the bottom once more content is added */
footer {
	background: lightskyblue;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 15px;
}
footer a:link {
	text-decoration: none;
	color: black;
}
footer a:visited {
	color: black;
}
footer a:hover{
	color: #Fa6159;
}

/*FAQ*/
.faq {

	font-size: 20px;
	text-align: center;
	padding: 10px;
}

details {
	background-color: #f6f6f6;
	padding: 10px;
	margin-top: 15px;
}

.box {
	width:300px;
	margin: 20px auto;
	background-color : #f6f6f6;
}

.box .heading{
	background-color: lightskyblue;
}

.privacy{
	margin-left: 100px;
	margin-right: 100px;
}
