* {
	margin: 0;
	padding: 0;
	font-family: verdana;
	font-size: 100%;
	vertical-align: baseline;

}
html, body {
	height: 100%;
}
body {
	margin-bottom: -30px;
}

h1 {
	padding: 10px;
	font-size: 150%;
	text-align: center;
}
h2 {
	padding: 10px;
	font-size: 125%;
	text-align: center;
}
p {
	margin-left: 50px;
	margin-right: 50px;
	font-size: 100%;
	text-align: center;
	padding: 10px;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.menu-dropdown-content1{
	padding-top: 10px;
	padding-left: 15px;
	font-size: 17px;
	position: absolute;
	min-width: 90px;
}

.menu-dropdown-content2{
	padding-top: 10px;
	padding-left: 5px;
	font-size: 17px;
	position: absolute;
	min-width: 260px;
}

.dropdown ul{
	display: none;
}
.dropdown:hover ul{
	display: block;
	position: absolute;
	text-align: left;
	padding-top: 10px;
	background-color: #D1F7FA;
}
.dropdown li{
	padding-bottom: 10px;
}

nav {
	background-color: #A6D9F2;
	font-size: 20px;
	text-align: center;
	padding: 10px;
}



nav li {
	display: inline-block;
}
a {
	padding-left: 10px;
}
a:link {
	text-decoration: none;
}
a:visited {
	color: blue;
}
nav a {
	padding-left: 10px;
	padding-right: 10px;
}
nav a:link {
	text-decoration: none;
	color: black;
}
nav a:visited {
	color: black;
}
nav a:hover{
	color: #E8304F;
}
form {
	font-size: 20px;
	padding: 10px;
}
input {
	font-size: 20px;
	padding: 5px;
}

/* Right now it will be very close to the top of most pages, but it will stick to the bottom once more content is added */
footer {
	background: #A6D9F2;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 15px;
}
footer a:link {
	text-decoration: none;
	color: black;
}
footer a:visited {
	color: black;
}
footer a:hover{
	color: #E8304F;
}

/*FAQ*/
.faq {

	font-size: 20px;
	text-align: center;
	padding: 10px;
}

details {
	background-color: #f6f6f6;
	padding: 10px;
	margin-top: 15px;
}

.box {
	width:300px;
	margin: 20px auto;
	background-color : #f6f6f6;
}

.box .heading{
	background-color: #A6D9F2;
}

.box a:hover{
	color: #E8304F;
}

.privacy{
	margin-left: 100px;
	margin-right: 100px;
}
